# Play instance
logs
target
.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# Vue instance
.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

ui/node_modules
ui/npm-debug.log
/public

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln

/BlockChainDB.trace.db
/BlockChainDB.mv.db
