<!DOCTYPE html>
<html lang="en">
    <head>

        <title>vue-webpack-play</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.JsController.javascriptRoutes"></script>

    </head>
    <body>

      <div id="app"></div>

      <script src="@routes.Assets.versioned("javascripts/build.js")"></script>
    </body>
</html>
